
@using SalesForceIntegration.Models

@{
    ViewBag.Title = "Events";
}

<header>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
    <link rel="stylesheet" href="  https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css" type="text/css" />
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.print.css" media="print" type="text/css" />



</header>
<div class="EventsDiv">
    <div id="calendar">
    </div>
</div>

<script>
    $(document).ready(function () {

        $('#calendar').fullCalendar({
            defaultView: 'listWeek',
            height: '500px',
            header: {
                left: 'prev,next, today',
                center: 'title',
                right: 'agendaWeek,agendaDay, agendaMonth,listWeek'
            },
            events: function (start, end, timezone, callback) {
                $.ajax({
                    url: '/Event/GetCalendarEvents',
                    dataType: 'json',
                    //data: {
                    //    // our hypothetical feed requires UNIX timestamps
                    //    start: start.unix(),
                    //    end: end.unix()
                    //},
                    success: function (doc) {
                        var events = [];
                        $(doc).each(function () {
                            events.push({
                                title: $(this).attr('title'),
                                start: $(this).attr('start') // will be parsed
                            });
                        });
                        callback(events);
                    }
                });
            }

        })

    });

</script>
