
@using SalesForceIntegration.Models

@{
    ViewBag.Title = "Events";
}
@Scripts.Render("~/bundles/jquery")
<header>
   
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" type="text/css" />
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" type="text/javascript"></script>
</header>
<h3>Events from SalesForce</h3>
<div class="EventsDiv">

    <table class="eventdatatable"><thead>
                                      <tr>
                                          <th>Subject</th>
                                          <th>Start Time</th>
                                          <th>End Time</th>
                                          <th>Location</th>
                                          <th>Description</th>
                                      </tr>
</thead></table>
</div>

<script>
    $(document).ready(function () {

        $.ajax({
            url: '/Event/GetEvents',
            type: 'GET',
            dataType: 'json',
            success: function (data) {

                assignToEventsColumns(data);
            }
        });

        function assignToEventsColumns(data) {
            $('.eventdatatable').DataTable({
                "aaData": data,
                //"aaSorting": [],
                columns: [
                    { "data": "Subject" },
                    {
                        "data": "StartDate",
                        "render": function (data, type, full) { return dtConvFromJSON(data); }
                    }, //
                    {
                        "data": "EndDate",
                        "render": function (data, type, full) { return dtConvFromJSON(data); }
                    }, //"entry_date"}

                    { "data": "Location" },
                    { "data": "Description" }
                ],




            });
        }
     

        function dtConvFromJSON(data) {
            if (data == null) return '1/1/1950';
            var r = /\/Date\(([0-9]+)\)\//gi
            var matches = data.match(r);
            if (matches == null) return '1/1/1950';
            var result = matches.toString().substring(6, 19);
            var epochMilliseconds = result.replace(
                /^\/Date\(([0-9]+)([+-][0-9]{4})?\)\/$/,
                '$1');
            var b = new Date(parseInt(epochMilliseconds));
            var c = new Date(b.toString());
            var curr_date = c.getDate();
            var curr_month = c.getMonth() + 1;
            var curr_year = c.getFullYear();
            var curr_h = c.getHours();
            var curr_m = c.getMinutes();
            var curr_s = c.getSeconds();
            var curr_offset = c.getTimezoneOffset() / 60
            var d = curr_month.toString() + '/' + curr_date + '/' + curr_year + " " + curr_h + ':' + curr_m + ':' + curr_s;
            return d;
        }
        });

  

</script>